blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

a {
  color: inherit;
  text-decoration: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
