@import './base.css';

:root {
  --md-c-white: #ffffff;
  --md-c-white-soft: #f9f9f9;
  --md-c-white-mute: #f1f1f1;
  --md-c-black: #1a1a1a;
  --md-c-black-pure: #000000;
  --md-c-black-soft: #242424;
  --md-c-black-mute: #2f2f2f;
  --md-c-indigo: #213547;
  --md-c-indigo-soft: #476582;
  --md-c-indigo-light: #aac8e4;
  --md-c-gray: #8e8e8e;
  --md-c-gray-light-1: #aeaeae;
  --md-c-gray-light-2: #c7c7c7;
  --md-c-gray-light-3: #d1d1d1;
  --md-c-gray-light-4: #e5e5e5;
  --md-c-gray-light-5: #f2f2f2;
  --md-c-gray-dark-1: #636363;
  --md-c-gray-dark-2: #484848;
  --md-c-gray-dark-3: #3a3a3a;
  --md-c-gray-dark-4: #282828;
  --md-c-gray-dark-5: #202020;
  --md-c-divider-light-1: rgba(60, 60, 60, .29);
  --md-c-divider-light-2: rgba(60, 60, 60, .12);
  --md-c-divider-dark-1: rgba(84, 84, 84, .65);
  --md-c-divider-dark-2: rgba(84, 84, 84, .48);
  --md-c-text-light-1: var(--md-c-indigo);
  --md-c-text-light-2: rgba(60, 60, 60, .7);
  --md-c-text-light-3: rgba(60, 60, 60, .33);
  --md-c-text-light-4: rgba(60, 60, 60, .18);
  --md-c-text-light-code: var(--md-c-indigo-soft);
  --md-c-text-dark-1: rgba(255, 255, 255, .87);
  --md-c-text-dark-2: rgba(235, 235, 235, .6);
  --md-c-text-dark-3: rgba(235, 235, 235, .38);
  --md-c-text-dark-4: rgba(235, 235, 235, .18);
  --md-c-text-dark-code: var(--md-c-indigo-light);
  --md-c-transparent: rgba(0, 0, 0, 0.35);
  --md-c-green: #42b883;
  --md-c-green-light: #42d392;
  --md-c-green-lighter: #35eb9a;
  --md-c-green-dark: #33a06f;
  --md-c-green-darker: #155f3e;
  --md-c-blue: #3b8eed;
  --md-c-blue-light: #549ced;
  --md-c-blue-lighter: #50a2ff;
  --md-c-blue-dark: #3468a3;
  --md-c-blue-darker: #255489;
  --md-c-yellow: #ffc517;
  --md-c-yellow-light: #ffe417;
  --md-c-yellow-lighter: #ffff17;
  --md-c-yellow-dark: #e0ad15;
  --md-c-yellow-darker: #bc9112;

  --md-shadow-1: 0 1px 2px rgba(0, 0, 0, .04), 0 1px 2px rgba(0, 0, 0, .06);
  --md-shadow-2: 0 3px 12px rgba(0, 0, 0, .07), 0 1px 4px rgba(0, 0, 0, .07);
  --md-shadow-3: 0 12px 32px rgba(0, 0, 0, .1), 0 2px 6px rgba(0, 0, 0, .08);
  --md-shadow-4: 0 14px 44px rgba(0, 0, 0, .12), 0 3px 9px rgba(0, 0, 0, .12);
  --md-shadow-5: 0 18px 56px rgba(0, 0, 0, .16), 0 4px 12px rgba(0, 0, 0, .16);

  --md-doc-code-font-size: 14px;
  --md-doc-code-line-height: 1.5;
  --md-c-divider-light: rgba(60, 60, 60, .12);

  --md-sidebar-expand: 250px;
  --md-nav-height: 40px;
}

html {
  height: 100vh;
  font-size: 62.5%;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont,
              "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  background-color: var(--md-c-white);
  overflow-x: hidden;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
}
